## Merge crime data

In [14]:
import pandas as pd
import numpy as np

In [2]:
crime_data = pd.DataFrame()

In [3]:
file_num = 18
for index in range(10):
    crime_data = crime_data.append(pd.read_csv('new_data/crime_data/zip_crime_data%d.csv' % index), ignore_index=True)

In [4]:
for index in range(10, file_num):
    crime_data = crime_data.append(pd.read_csv('new_data/crime_data/crime_data_full%d.csv' % index), ignore_index=True)

In [16]:
print(np.where(pd.isnull(crime_data)))

(array([200364, 200543, 201119, 201612, 201756, 202678, 202937, 203310,
       204216, 206182, 206431, 206535, 206629, 207395, 207995, 208544,
       208710, 210348, 210703, 210729, 211155, 211245, 211393, 211935,
       212092, 213505, 213903, 214539, 215796, 216013, 216097, 216106,
       216351, 216352, 216494, 216538, 216928, 216929, 217517, 218075,
       218165, 218307, 219488, 219588, 220171, 220630, 221522, 221711,
       222813, 223428, 224445, 224542, 224583, 225166, 225517, 225663,
       225931, 227275, 228010, 228141, 229320, 230363, 230785, 231430,
       231435, 231759, 232687, 233071, 233565, 234396, 234540, 234779,
       234854, 236008, 236769, 237046, 237325, 237455, 237496, 237838,
       237952, 238166, 239081, 239461, 240467, 240538, 241258, 241293,
       241485, 243281, 244590, 245847, 246042, 246043, 246175, 246299,
       246328, 246953, 247244, 247752, 247789, 247821, 248346, 248355,
       248452, 249284, 249559, 251603, 251692, 252037, 252664, 253013,
       253014, 253645, 253961, 253982, 255692, 255794, 256205, 256458,
       256503, 257479, 257996, 258580, 259552, 260102, 260584, 261378,
       261972, 262557, 262793, 263338, 265476, 266983, 266984, 267960,
       268234, 269251, 269707, 270613, 270733, 270875, 271792, 271799,
       271994, 272095, 272787, 273492, 273506, 274005, 274085, 274346,
       274601, 274678, 274878, 275626, 276765, 277145, 277993, 278920,
       279577, 279797, 279799, 279987, 280191, 280831, 280949, 280990,
       281059, 281413, 281803, 281836, 282174, 283046, 283193, 283871,
       284155, 284827, 284911, 285214, 285676, 285987, 286412, 287153,
       287372, 288216, 288410, 288413, 289110, 289771, 290517, 290681,
       290797, 291555, 291958, 292386, 292893, 293878, 294336, 294379,
       294482, 295199, 296160, 296938, 298107, 298110, 298776, 299733,
       300175, 302376, 303055, 303230, 303762, 303780, 303991, 304487,
       304768, 305549, 306159, 306787, 306833, 307861, 308128, 308247,
       308252, 309046, 309071, 309073, 309377, 310645, 311794, 311811,
       312512, 312515, 313230, 313231, 313895, 314050, 314325, 314783,
       314953, 316638, 316755, 316889, 317087, 318300, 319276, 319664,
       319768, 319862, 320021, 320384, 321084, 321642, 322371, 324817,
       326006, 326579, 327812, 329035, 330051, 330324, 330366, 331140,
       331281, 331287, 332428, 332884, 333358, 333564, 333907, 333965,
       334228, 334932, 335507, 335540, 335808, 336084, 337228, 337613,
       338032, 338409, 339403, 340681, 340825, 343042, 343161, 343232,
       343993, 344008, 344125, 344700, 345070, 345096, 345124, 345136,
       345302]), array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]))

In [17]:
crime_data.iloc[345302]

date                 12/31/2016
time                   17:50:00
lat                     40.6417
lon                    -74.0757
LEVEL_FELONY                  1
LEVEL_MISDEMEANOR             0
LEVEL_VIOLATION               0
zipcode                     NaN
Name: 345302, dtype: object

In [6]:
crime_data.to_csv('new_data/zip_crime_data.csv', sep=',', index=False)

,date,time,lat,lon,LEVEL_FELONY,LEVEL_MISDEMEANOR,LEVEL_VIOLATION,zipcode
0,09/30/2017,23:46:00,40.801064,-73.950482,1,0,0,10026.0
1,09/30/2017,23:20:00,40.677407,-74.006397,0,1,0,11231.0
2,09/30/2017,23:20:00,40.623227,-74.149227,0,1,0,10302.0
3,09/30/2017,23:20:00,40.654698,-73.907624,0,0,1,11212.0
4,09/30/2017,23:15:00,40.747495,-73.885321,1,0,0,11372.0
5,09/30/2017,23:10:00,40.820204,-73.863637,0,1,0,10473.0
6,09/30/2017,23:10:00,40.770794,-73.933146,1,0,0,11102.0
7,09/30/2017,23:09:00,40.694554,-73.802113,0,1,0,11451.0
8,09/30/2017,23:05:00,40.677098,-73.825040,1,0,0,11419.0
9,09/30/2017,23:02:00,40.756645,-73.986285,0,1,0,10018.0
10,09/30/2017,23:00:00,40.658424,-74.003562,0,1,0,11232.0
11,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377.0
12,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377.0
13,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377.0
14,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377.0
15,09/30/2017,22:55:00,40.679981,-73.776234,0,1,0,11405.0
16,09/30/2017,22:45:00,40.636666,-74.148504,0,1,0,10302.0
17,09/30/2017,22:40:00,40.721590,-73.977569,0,1,0,10009.0
18,09/30/2017,22:40:00,40.862185,-73.923145,0,1,0,10040.0
19,09/30/2017,22:40:00,40.833776,-73.918429,0,1,0,10452.0
20,09/30/2017,22:40:00,40.862185,-73.923145,0,1,0,10040.0
21,09/30/2017,22:30:00,40.862413,-73.831208,0,1,0,10461.0
22,09/30/2017,22:30:00,40.639995,-73.948414,1,0,0,11202.0
23,09/30/2017,22:30:00,40.710333,-73.756402,1,0,0,11423.0
24,09/30/2017,22:30:00,40.769409,-73.872640,0,1,0,11371.0
25,09/30/2017,22:30:00,40.883557,-73.880602,1,0,0,10470.0
26,09/30/2017,22:30:00,40.726965,-73.953117,0,0,1,11222.0
27,09/30/2017,22:22:00,40.670097,-73.874038,0,1,0,11208.0
28,09/30/2017,22:20:00,40.852565,-73.932977,0,0,1,10033.0
29,09/30/2017,22:15:00,40.839820,-73.922480,1,0,0,10452.0
...,...,...,...,...,...,...,...,...
345408,12/18/2016,05:52:00,40.831394,-73.935716,0,1,0,10039.0
345409,12/16/2016,23:00:00,40.716761,-74.008749,1,0,0,10013.0
345410,12/16/2016,15:25:00,40.658928,-73.889820,0,1,0,11207.0
345411,12/15/2016,22:01:00,40.609081,-73.950765,0,1,0,11229.0
345412,12/10/2016,19:00:00,40.625238,-73.918879,0,1,0,11234.0
345413,12/10/2016,14:00:00,40.875384,-73.876043,1,0,0,10467.0
345414,12/09/2016,01:00:00,40.626858,-74.163443,0,1,0,10303.0
345415,12/05/2016,23:00:00,40.615745,-73.899206,1,0,0,11234.0
345416,12/04/2016,20:00:00,40.623227,-74.149227,0,1,0,10314.0
345417,12/03/2016,16:00:00,40.877554,-73.872939,0,1,0,10467.0
345418,12/03/2016,15:00:00,40.712419,-73.851024,1,0,0,11375.0
345419,12/03/2016,03:30:00,40.762273,-73.958568,0,0,1,10065.0
345420,12/01/2016,16:00:00,40.707763,-74.011706,0,1,0,10006.0
345421,11/30/2016,21:00:00,40.633319,-73.968041,0,0,1,11230.0
345422,11/16/2016,00:30:00,40.853998,-73.827597,0,1,0,10461.0
345423,10/27/2016,00:01:00,40.890963,-73.832944,0,1,0,10466.0
345424,10/21/2016,13:00:00,40.610198,-73.973260,0,0,1,11230.0
345425,10/13/2016,01:30:00,40.667367,-73.903381,1,0,0,11212.0
345426,10/12/2016,10:00:00,40.726738,-73.991602,0,1,0,10003.0
345427,10/05/2016,00:00:00,40.615460,-73.977943,1,0,0,11204.0
345428,10/04/2016,09:00:00,40.663630,-73.955529,1,0,0,11225.0
345429,07/01/2016,00:01:00,40.701646,-73.938012,0,1,0,11206.0
345430,05/29/2016,12:29:00,40.666627,-73.886888,0,1,0,11207.0
345431,03/01/2016,13:00:00,40.781825,-73.947319,0,0,1,10128.0
345432,01/01/2016,06:10:00,40.848123,-73.901467,0,1,0,10457.0
345433,01/01/2016,06:00:00,40.670895,-73.936491,0,1,0,11213.0
345434,01/01/2016,04:00:00,40.676447,-73.804136,0,1,0,11420.0
345435,01/01/2016,03:00:00,40.722142,-73.958701,0,1,0,11249.0
345436,12/01/2015,00:00:00,40.890075,-73.855834,1,0,0,10466.0
345437,07/01/2015,18:05:00,40.613704,-73.981593,0,1,0,11204.0