In [2]:
import pandas as pd
import numpy as np

In [18]:
populationDataDir = 'data\population_by_zip_2010.csv'
data = pd.read_csv(populationDataDir)
data.head(2)

   population  minimum_age  maximum_age  gender  zipcode          geo_id
0          50         30.0         34.0  female    61747  8600000US61747
1           5         85.0          NaN    male    64120  8600000US64120

In [19]:
popuData = data.loc[data['gender'].isnull()]
popuData = popuData.drop(['minimum_age','maximum_age','gender'], axis=1)
popuData.head(2)

     population  zipcode          geo_id
36        27669    91324  8600000US91324
116        4449    72632  8600000US72632

In [20]:
zipData = pd.read_csv('data\zip_code_database.csv', encoding='latin1')
zipData.head(2)

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2014
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0

In [21]:
zipNYData = zipData.loc[zipData['state']=='NY'].zip.tolist()

In [28]:
popu = popuData.loc[popuData['zipcode'].isin(zipNYData)]
outFileDir = 'data\popu_zip.csv'
popu.to_csv(outFileDir)