In [1]:
import pandas as pd
import numpy as np

In [2]:
crime_data = pd.read_csv('../new_data/zip_crime_data.csv')

In [3]:
raw_restaurant_data = pd.read_csv('../new_data/restaurant_data.csv')
restaurant_zip_sum_data = raw_restaurant_data.groupby(['zipcode']).sum().rename(index=int, columns={'count':'res_total_count'}).reset_index()
restaurant_zip_max_data = raw_restaurant_data.groupby(['zipcode']).max().rename(index=int, columns={'count':'res_max_type_count', 'type':'res_max_type'}).reset_index()
restaurant_data = restaurant_zip_max_data.join(restaurant_zip_sum_data.set_index('zipcode'), on='zipcode')

In [4]:
ny_house_sell_data = pd.read_csv('../new_data/ny_house_sell.csv')
ny_house_sell_data['avg_house_sell_price'] = ny_house_sell_data.drop('zipcode', axis='columns').mean(axis=1)
ny_house_sell_data = ny_house_sell_data[['zipcode', 'avg_house_sell_price']]
ny_house_rent_data = pd.read_csv('../new_data/ny_house_rent.csv')
ny_house_rent_data['avg_house_rent_price'] = ny_house_rent_data.drop('zipcode', axis='columns').mean(axis=1)
ny_house_rent_data = ny_house_rent_data[['zipcode', 'avg_house_rent_price']]

In [5]:
lib_data = pd.read_csv('../data/NYC_Lib_zip_count.csv')\
                .rename(index=int, columns={"count1": "lib_count1", "count5": "lib_count5", "count15":"lib_count15"})

In [6]:
mus_data = pd.read_csv('../data/NYC_Mus_zip_count.csv')\
                .rename(index=int, columns={"count1": "mus_count1", "count5": "mus_count5", "count15":"mus_count15"})

In [7]:
def my_stupid_approach(store_data):
    new_data = store_data.groupby('Address ZIP').sum().reset_index()
    new_data['store_business_type_count'] = new_data['store_individual_type_count'] = 0
    for index, row in store_data.iterrows():
        if row['store_type'] == 'Business':
            new_data.loc[new_data['Address ZIP'] == row['Address ZIP'], 'store_business_type_count'] = row['store_count']
        else:
            new_data.loc[new_data['Address ZIP'] == row['Address ZIP'], 'store_individual_type_count'] = row['store_count']
    return new_data

store_data = pd.read_csv('../data/NYC_Store_Count.csv')\
        .rename(index=int, columns={"License Type": "store_type", "DCA License Number":"store_count"})
store_data = my_stupid_approach(store_data)[['Address ZIP', 'store_business_type_count', 'store_individual_type_count']]

In [8]:
univ_data = pd.read_csv('../data/NYC_Univ_zip_count.csv')\
        .rename(index=int, columns={"count1": "univ_count1", "count5": "univ_count5", "count15":"univ_count15"})

In [9]:
popu_data = pd.read_csv('../data/popu_zip.csv')[['zipcode', 'population']]

In [10]:
hospital_data = pd.read_csv('../data/NYC_hospital_zip_count.csv')\
                .rename(index=int, columns={"count10": "hospital_count10", "count5": "hospital_count5", "count15":"hospital_count15"})

In [11]:
school_data = pd.read_csv('../data/NYC_school_zip_count.csv')\
                    .rename(index=int, columns={"count":"school_count"}).groupby('Address ZIP')['school_count'].sum().reset_index()

In [12]:
park_data = pd.read_csv('../data/NYU_parkArea_zip.csv')\
                    .rename(index=str, columns={"count":"park_area"})

In [13]:
dataset = crime_data
dataset = dataset.join(restaurant_data.set_index('zipcode'), on='zipcode')
dataset = dataset.join(ny_house_sell_data.set_index('zipcode'), on='zipcode')
dataset = dataset.join(ny_house_rent_data.set_index('zipcode'), on='zipcode')
dataset = dataset.join(lib_data.set_index('Address ZIP'), on='zipcode')
dataset = dataset.join(mus_data.set_index('Address ZIP'), on='zipcode')
dataset = dataset.join(store_data.set_index('Address ZIP'), on='zipcode')
dataset = dataset.join(univ_data.set_index('Address ZIP'), on='zipcode')
dataset = dataset.join(popu_data.set_index('zipcode'), on='zipcode')
dataset = dataset.join(hospital_data.set_index('Address ZIP'), on='zipcode')
# dataset = dataset.join(school_data.set_index('Address ZIP'), on='zipcode')
dataset = dataset.join(park_data.set_index('Address ZIP'), on='zipcode')

In [14]:
dataset.head(1).transpose()

                                      0
date                         09/30/2017
time                           23:46:00
lat                             40.8011
lon                            -73.9505
LEVEL_FELONY                          1
LEVEL_MISDEMEANOR                     0
LEVEL_VIOLATION                       0
zipcode                           10026
res_max_type                 Vegetarian
res_max_type_count                  194
res_total_count                     642
avg_house_sell_price             763595
avg_house_rent_price            3032.99
lib_count1                            1
lib_count5                           22
lib_count15                         136
mus_count1                            2
mus_count5                           19
mus_count15                         141
store_business_type_count           118
store_individual_type_count         134
univ_count1                           0
univ_count5                          17
univ_count15                        124
population                        34003
hospital_count5                      14
hospital_count10                     64
hospital_count15                    130
park_area                       569.897

In [15]:
dataset = dataset.fillna({'res_max_type':'Unknown',
                          'res_max_type_count': 0, 
                          'res_total_count':0, 
                          'avg_house_sell_price':dataset['avg_house_sell_price'].mean(), 
                          'avg_house_rent_price':dataset['avg_house_rent_price'].mean(), 
                          'lib_count1':0, 
                          'lib_count5':0, 
                          'lib_count15':0, 
                          'mus_count1':0, 
                          'mus_count5':0, 
                          'mus_count15':0, 
                          'store_business_type_count':0, 
                          'store_individual_type_count':0, 
                          'univ_count1':0, 
                          'univ_count5':0, 
                          'univ_count15':0, 
                          'population':dataset['population'].mean(), 
                          'hospital_count5':0, 
                          'hospital_count10':0, 
                          'hospital_count15':0, 
                          'school_count':0,
                          'park_area':0})

In [16]:
dataset

,date,time,lat,lon,LEVEL_FELONY,LEVEL_MISDEMEANOR,LEVEL_VIOLATION,zipcode,res_max_type,res_max_type_count,...,store_business_type_count,store_individual_type_count,univ_count1,univ_count5,univ_count15,population,hospital_count5,hospital_count10,hospital_count15,park_area
0,09/30/2017,23:46:00,40.801064,-73.950482,1,0,0,10026,Vegetarian,194.0,...,118.0,134.0,0.0,17.0,124.0,34003.00000,14.0,64.0,130.0,569.897094
1,09/30/2017,23:20:00,40.677407,-74.006397,0,1,0,11231,Vietnamese/Cambodian/Malaysia,456.0,...,202.0,89.0,0.0,1.0,11.0,33336.00000,0.0,0.0,0.0,1410.767771
2,09/30/2017,23:20:00,40.623227,-74.149227,0,1,0,10302,Spanish,98.0,...,166.0,88.0,0.0,3.0,23.0,19088.00000,7.0,20.0,35.0,527.570103
3,09/30/2017,23:20:00,40.654698,-73.907624,0,0,1,11212,Spanish,207.0,...,321.0,96.0,0.0,0.0,0.0,84500.00000,14.0,40.0,82.0,1496.452799
4,09/30/2017,23:15:00,40.747495,-73.885321,1,0,0,11372,Thai,722.0,...,523.0,95.0,0.0,2.0,13.0,66636.00000,15.0,39.0,64.0,263.435729
5,09/30/2017,23:10:00,40.820204,-73.863637,0,1,0,10473,Spanish,60.0,...,113.0,118.0,0.0,0.0,0.0,58519.00000,0.0,0.0,0.0,575.000734
6,09/30/2017,23:10:00,40.770794,-73.933146,1,0,0,11102,Spanish,144.0,...,203.0,105.0,0.0,0.0,8.0,34133.00000,0.0,6.0,23.0,1504.581831
7,09/30/2017,23:09:00,40.694554,-73.802113,0,1,0,11451,American,18.0,...,0.0,0.0,0.0,6.0,40.0,0.00000,6.0,24.0,44.0,347.542281
8,09/30/2017,23:05:00,40.677098,-73.825040,1,0,0,11419,Vegetarian,285.0,...,413.0,252.0,0.0,0.0,10.0,47211.00000,0.0,0.0,6.0,134.107500
9,09/30/2017,23:02:00,40.756645,-73.986285,0,1,0,10018,Vietnamese/Cambodian/Malaysia,932.0,...,321.0,31.0,0.0,7.0,55.0,5229.00000,0.0,0.0,0.0,109.251121
10,09/30/2017,23:00:00,40.658424,-74.003562,0,1,0,11232,Vietnamese/Cambodian/Malaysia,111.0,...,239.0,71.0,0.0,0.0,0.0,28265.00000,0.0,1.0,6.0,793.079138
11,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377,Thai,281.0,...,452.0,179.0,0.0,0.0,10.0,89830.00000,8.0,29.0,54.0,232.052895
12,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377,Thai,281.0,...,452.0,179.0,0.0,0.0,10.0,89830.00000,8.0,29.0,54.0,232.052895
13,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377,Thai,281.0,...,452.0,179.0,0.0,0.0,10.0,89830.00000,8.0,29.0,54.0,232.052895
14,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377,Thai,281.0,...,452.0,179.0,0.0,0.0,10.0,89830.00000,8.0,29.0,54.0,232.052895
15,09/30/2017,22:55:00,40.679981,-73.776234,0,1,0,11405,Unknown,0.0,...,0.0,0.0,0.0,0.0,0.0,56872.78919,1.0,22.0,47.0,1547.223112
16,09/30/2017,22:45:00,40.636666,-74.148504,0,1,0,10302,Spanish,98.0,...,166.0,88.0,0.0,3.0,23.0,19088.00000,7.0,20.0,35.0,527.570103
17,09/30/2017,22:40:00,40.721590,-73.977569,0,1,0,10009,Vietnamese/Cambodian/Malaysia,788.0,...,218.0,63.0,0.0,7.0,75.0,61347.00000,15.0,40.0,71.0,1514.432163
18,09/30/2017,22:40:00,40.862185,-73.923145,0,1,0,10040,Tex-Mex,113.0,...,145.0,36.0,0.0,4.0,41.0,41905.00000,0.0,4.0,21.0,120.648142
19,09/30/2017,22:40:00,40.833776,-73.918429,0,1,0,10452,Spanish,141.0,...,334.0,126.0,0.0,3.0,49.0,75371.00000,16.0,50.0,99.0,874.461087
20,09/30/2017,22:40:00,40.862185,-73.923145,0,1,0,10040,Tex-Mex,113.0,...,145.0,36.0,0.0,4.0,41.0,41905.00000,0.0,4.0,21.0,120.648142
21,09/30/2017,22:30:00,40.862413,-73.831208,0,1,0,10461,Thai,224.0,...,344.0,155.0,0.0,0.0,5.0,50502.00000,0.0,0.0,0.0,1217.085092
22,09/30/2017,22:30:00,40.639995,-73.948414,1,0,0,11202,Unknown,0.0,...,0.0,8.0,0.0,7.0,36.0,56872.78919,7.0,29.0,65.0,289.844295
23,09/30/2017,22:30:00,40.710333,-73.756402,1,0,0,11423,Sandwiches/Salads/Mixed Buffet,33.0,...,137.0,113.0,0.0,0.0,14.0,29987.00000,0.0,12.0,35.0,439.928751
24,09/30/2017,22:30:00,40.769409,-73.872640,0,1,0,11371,Seafood,78.0,...,9.0,0.0,0.0,3.0,13.0,0.00000,0.0,12.0,34.0,153.685174
25,09/30/2017,22:30:00,40.883557,-73.880602,1,0,0,10470,Spanish,63.0,...,80.0,45.0,0.0,3.0,40.0,15293.00000,0.0,0.0,0.0,454.883069
26,09/30/2017,22:30:00,40.726965,-73.953117,0,0,1,11222,Vietnamese/Cambodian/Malaysia,458.0,...,295.0,87.0,0.0,5.0,34.0,36934.00000,15.0,38.0,78.0,1105.529520
27,09/30/2017,22:22:00,40.670097,-73.874038,0,1,0,11208,Spanish,164.0,...,397.0,183.0,0.0,0.0,0.0,94469.00000,11.0,26.0,44.0,1524.666597
28,09/30/2017,22:20:00,40.852565,-73.932977,0,0,1,10033,Vegetarian,135.0,...,227.0,59.0,1.0,5.0,39.0,53926.00000,9.0,26.0,54.0,341.372542
29,09/30/2017,22:15:00,40.839820,-73.922480,1,0,0,10452,Spanish,141.0,...,334.0,126.0,0.0,3.0,49.0,75371.00000,16.0,50.0,99.0,874.461087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345408,12/18/2016,05:52:00,40.831394,-73.935716,0,1,0,10039,Tapas,44.0,...,69.0,60.0,0.0,5.0,102.0,24527.00000,10.0,63.0,149.0,262.912313
345409,12/16/2016,23:00:00,40.716761,-74.008749,1,0,0,10013,Vietnamese/Cambodian/Malaysia,940.0,...,416.0,46.0,1.0,14.0,91.0,27700.00000,5.0,10.0,15.0,241.949425
345410,12/16/2016,15:25:00,40.658928,-73.889820,0,1,0,11207,Tex-Mex,244.0,...,420.0,150.0,0.0,0.0,0.0,93386.00000,19.0,46.0,80.0,2916.641873
345411,12/15/2016,22:01:00,40.609081,-73.950765,0,1,0,11229,Vietnamese/Cambodian/Malaysia,203.0,...,406.0,232.0,0.0,0.0,0.0,80018.00000,9.0,25.0,45.0,2283.903321
345412,12/10/2016,19:00:00,40.625238,-73.918879,0,1,0,11234,Vietnamese/Cambodian/Malaysia,251.0,...,445.0,310.0,0.0,0.0,0.0,87757.00000,0.0,5.0,10.0,1512.325436
345413,12/10/2016,14:00:00,40.875384,-73.876043,1,0,0,10467,Tex-Mex,205.0,...,379.0,196.0,0.0,4.0,42.0,97060.00000,0.0,0.0,0.0,1272.241961
345414,12/09/2016,01:00:00,40.626858,-74.163443,0,1,0,10303,Spanish,49.0,...,157.0,93.0,0.0,0.0,14.0,26337.00000,5.0,13.0,23.0,138.833329
345415,12/05/2016,23:00:00,40.615745,-73.899206,1,0,0,11234,Vietnamese/Cambodian/Malaysia,251.0,...,445.0,310.0,0.0,0.0,0.0,87757.00000,0.0,5.0,10.0,1512.325436
345416,12/04/2016,20:00:00,40.623227,-74.149227,0,1,0,10314,Vietnamese/Cambodian/Malaysia,375.0,...,451.0,389.0,1.0,5.0,20.0,85510.00000,3.0,13.0,23.0,566.077297
345417,12/03/2016,16:00:00,40.877554,-73.872939,0,1,0,10467,Tex-Mex,205.0,...,379.0,196.0,0.0,4.0,42.0,97060.00000,0.0,0.0,0.0,1272.241961
345418,12/03/2016,15:00:00,40.712419,-73.851024,1,0,0,11375,Turkish,278.0,...,297.0,116.0,1.0,14.0,54.0,68733.00000,0.0,0.0,4.0,81.885877
345419,12/03/2016,03:30:00,40.762273,-73.958568,0,0,1,10065,Vegetarian,405.0,...,242.0,25.0,1.0,22.0,98.0,32270.00000,2.0,12.0,29.0,97.281834
345420,12/01/2016,16:00:00,40.707763,-74.011706,0,1,0,10006,Steak,145.0,...,34.0,5.0,0.0,11.0,55.0,3011.00000,0.0,0.0,0.0,0.000000
345421,11/30/2016,21:00:00,40.633319,-73.968041,0,0,1,11230,Turkish,321.0,...,393.0,229.0,0.0,0.0,2.0,86408.00000,3.0,22.0,42.0,499.264052
345422,11/16/2016,00:30:00,40.853998,-73.827597,0,1,0,10461,Thai,224.0,...,344.0,155.0,0.0,0.0,5.0,50502.00000,0.0,0.0,0.0,1217.085092
345423,10/27/2016,00:01:00,40.890963,-73.832944,0,1,0,10466,Spanish,265.0,...,233.0,118.0,0.0,2.0,17.0,67813.00000,0.0,0.0,0.0,376.290804
345424,10/21/2016,13:00:00,40.610198,-73.973260,0,0,1,11230,Turkish,321.0,...,393.0,229.0,0.0,0.0,2.0,86408.00000,3.0,22.0,42.0,499.264052
345425,10/13/2016,01:30:00,40.667367,-73.903381,1,0,0,11212,Spanish,207.0,...,321.0,96.0,0.0,0.0,0.0,84500.00000,14.0,40.0,82.0,1496.452799
345426,10/12/2016,10:00:00,40.726738,-73.991602,0,1,0,10003,Vietnamese/Cambodian/Malaysia,1363.0,...,445.0,72.0,2.0,28.0,120.0,56024.00000,6.0,16.0,32.0,261.615002
345427,10/05/2016,00:00:00,40.615460,-73.977943,1,0,0,11204,Vietnamese/Cambodian/Malaysia,233.0,...,391.0,199.0,0.0,0.0,0.0,78134.00000,1.0,16.0,31.0,684.390998
345428,10/04/2016,09:00:00,40.663630,-73.955529,1,0,0,11225,Vegetarian,227.0,...,164.0,81.0,2.0,11.0,42.0,56829.00000,15.0,36.0,70.0,144.285360
345429,07/01/2016,00:01:00,40.701646,-73.938012,0,1,0,11206,Vegetarian,229.0,...,258.0,96.0,1.0,8.0,50.0,81677.00000,32.0,85.0,149.0,549.516176
345430,05/29/2016,12:29:00,40.666627,-73.886888,0,1,0,11207,Tex-Mex,244.0,...,420.0,150.0,0.0,0.0,0.0,93386.00000,19.0,46.0,80.0,2916.641873
345431,03/01/2016,13:00:00,40.781825,-73.947319,0,0,1,10128,Vietnamese/Cambodian/Malaysia,347.0,...,268.0,71.0,0.0,3.0,64.0,60453.00000,6.0,21.0,50.0,0.000000
345432,01/01/2016,06:10:00,40.848123,-73.901467,0,1,0,10457,Spanish,141.0,...,320.0,123.0,0.0,8.0,52.0,70496.00000,1.0,12.0,28.0,620.794960
345433,01/01/2016,06:00:00,40.670895,-73.936491,0,1,0,11213,Spanish,255.0,...,211.0,106.0,0.0,9.0,45.0,63767.00000,19.0,63.0,131.0,367.983611
345434,01/01/2016,04:00:00,40.676447,-73.804136,0,1,0,11420,Steak,188.0,...,275.0,228.0,0.0,0.0,3.0,44354.00000,0.0,0.0,4.0,39.351921
345435,01/01/2016,03:00:00,40.722142,-73.958701,0,1,0,11249,Thai,447.0,...,100.0,23.0,0.0,0.0,14.0,56872.78919,0.0,1.0,18.0,0.000000
345436,12/01/2015,00:00:00,40.890075,-73.855834,1,0,0,10466,Spanish,265.0,...,233.0,118.0,0.0,2.0,17.0,67813.00000,0.0,0.0,0.0,376.290804
345437,07/01/2015,18:05:00,40.613704,-73.981593,0,1,0,11204,Vietnamese/Cambodian/Malaysia,233.0,...,391.0,199.0,0.0,0.0,0.0,78134.00000,1.0,16.0,31.0,684.390998

In [17]:
dataset.to_csv('../data/all_data.csv', sep=',', index=False)