## Merge crime data

In [18]:
import pandas as pd
import numpy as np

In [25]:
# local way to transform lat/lon to zipcode
def trans_geo2zip(lat, long, searchTreash=1):
    tozipData = pd.read_csv('data/zip_code_database_clean.csv')
    #subData = tozipData
    subData = tozipData.loc[tozipData['longitude']>=long-searchTreash]
    subData = tozipData.loc[tozipData['longitude']<=long+searchTreash]
    subData = tozipData.loc[tozipData['latitude']>=lat-searchTreash]
    subData = tozipData.loc[tozipData['latitude']<=lat+searchTreash]
    dis=[]
    for index, row in subData.iterrows():
        distance = (row['longitude']-long)**2+(row['latitude']-lat)**2
        dis.append([row['zip'],distance])
    dis.sort(key=lambda x:x[1])
    #
    ret = dis[:5]
    return ret

def get_zipcode(lat, lon):
    def local_way():
        return int(trans_geo2zip(lat, lon, 0.1)[0][0])
    
    def remote_way():
        result = reverse_geocode({'x': lon, 'y': lat})
        return result['address']['Postal']
    
    return local_way()

def add_missing_zipcode(data):
    zipcode_col = []
    for index, row in data.iterrows():
        if pd.isnull(row['zipcode']):
            zipcode = get_zipcode(row['lat'], row['lon'])
            zipcode_col.append(zipcode)
        else:
            zipcode_col.append(row['zipcode'])
    data['zipcode'] = zipcode_col
    return data

In [26]:
crime_data = pd.DataFrame()

In [27]:
file_num = 18
for index in range(10):
    crime_data = crime_data.append(pd.read_csv('new_data/crime_data/zip_crime_data%d.csv' % index), ignore_index=True)

In [28]:
for index in range(10, file_num):
    df = pd.read_csv('new_data/crime_data/crime_data_full%d.csv' % index)
    df = add_missing_zipcode(df)
    crime_data = crime_data.append(df, ignore_index=True)

In [35]:
crime_data['zipcode'] = crime_data['zipcode'].apply(int)

,date,time,lat,lon,LEVEL_FELONY,LEVEL_MISDEMEANOR,LEVEL_VIOLATION,zipcode
0,09/30/2017,23:46:00,40.801064,-73.950482,1,0,0,10026
1,09/30/2017,23:20:00,40.677407,-74.006397,0,1,0,11231
2,09/30/2017,23:20:00,40.623227,-74.149227,0,1,0,10302
3,09/30/2017,23:20:00,40.654698,-73.907624,0,0,1,11212
4,09/30/2017,23:15:00,40.747495,-73.885321,1,0,0,11372
5,09/30/2017,23:10:00,40.820204,-73.863637,0,1,0,10473
6,09/30/2017,23:10:00,40.770794,-73.933146,1,0,0,11102
7,09/30/2017,23:09:00,40.694554,-73.802113,0,1,0,11451
8,09/30/2017,23:05:00,40.677098,-73.825040,1,0,0,11419
9,09/30/2017,23:02:00,40.756645,-73.986285,0,1,0,10018
10,09/30/2017,23:00:00,40.658424,-74.003562,0,1,0,11232
11,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377
12,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377
13,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377
14,09/30/2017,23:00:00,40.745809,-73.893419,0,1,0,11377
15,09/30/2017,22:55:00,40.679981,-73.776234,0,1,0,11405
16,09/30/2017,22:45:00,40.636666,-74.148504,0,1,0,10302
17,09/30/2017,22:40:00,40.721590,-73.977569,0,1,0,10009
18,09/30/2017,22:40:00,40.862185,-73.923145,0,1,0,10040
19,09/30/2017,22:40:00,40.833776,-73.918429,0,1,0,10452
20,09/30/2017,22:40:00,40.862185,-73.923145,0,1,0,10040
21,09/30/2017,22:30:00,40.862413,-73.831208,0,1,0,10461
22,09/30/2017,22:30:00,40.639995,-73.948414,1,0,0,11202
23,09/30/2017,22:30:00,40.710333,-73.756402,1,0,0,11423
24,09/30/2017,22:30:00,40.769409,-73.872640,0,1,0,11371
25,09/30/2017,22:30:00,40.883557,-73.880602,1,0,0,10470
26,09/30/2017,22:30:00,40.726965,-73.953117,0,0,1,11222
27,09/30/2017,22:22:00,40.670097,-73.874038,0,1,0,11208
28,09/30/2017,22:20:00,40.852565,-73.932977,0,0,1,10033
29,09/30/2017,22:15:00,40.839820,-73.922480,1,0,0,10452
...,...,...,...,...,...,...,...,...
345408,12/18/2016,05:52:00,40.831394,-73.935716,0,1,0,10039
345409,12/16/2016,23:00:00,40.716761,-74.008749,1,0,0,10013
345410,12/16/2016,15:25:00,40.658928,-73.889820,0,1,0,11207
345411,12/15/2016,22:01:00,40.609081,-73.950765,0,1,0,11229
345412,12/10/2016,19:00:00,40.625238,-73.918879,0,1,0,11234
345413,12/10/2016,14:00:00,40.875384,-73.876043,1,0,0,10467
345414,12/09/2016,01:00:00,40.626858,-74.163443,0,1,0,10303
345415,12/05/2016,23:00:00,40.615745,-73.899206,1,0,0,11234
345416,12/04/2016,20:00:00,40.623227,-74.149227,0,1,0,10314
345417,12/03/2016,16:00:00,40.877554,-73.872939,0,1,0,10467
345418,12/03/2016,15:00:00,40.712419,-73.851024,1,0,0,11375
345419,12/03/2016,03:30:00,40.762273,-73.958568,0,0,1,10065
345420,12/01/2016,16:00:00,40.707763,-74.011706,0,1,0,10006
345421,11/30/2016,21:00:00,40.633319,-73.968041,0,0,1,11230
345422,11/16/2016,00:30:00,40.853998,-73.827597,0,1,0,10461
345423,10/27/2016,00:01:00,40.890963,-73.832944,0,1,0,10466
345424,10/21/2016,13:00:00,40.610198,-73.973260,0,0,1,11230
345425,10/13/2016,01:30:00,40.667367,-73.903381,1,0,0,11212
345426,10/12/2016,10:00:00,40.726738,-73.991602,0,1,0,10003
345427,10/05/2016,00:00:00,40.615460,-73.977943,1,0,0,11204
345428,10/04/2016,09:00:00,40.663630,-73.955529,1,0,0,11225
345429,07/01/2016,00:01:00,40.701646,-73.938012,0,1,0,11206
345430,05/29/2016,12:29:00,40.666627,-73.886888,0,1,0,11207
345431,03/01/2016,13:00:00,40.781825,-73.947319,0,0,1,10128
345432,01/01/2016,06:10:00,40.848123,-73.901467,0,1,0,10457
345433,01/01/2016,06:00:00,40.670895,-73.936491,0,1,0,11213
345434,01/01/2016,04:00:00,40.676447,-73.804136,0,1,0,11420
345435,01/01/2016,03:00:00,40.722142,-73.958701,0,1,0,11249
345436,12/01/2015,00:00:00,40.890075,-73.855834,1,0,0,10466
345437,07/01/2015,18:05:00,40.613704,-73.981593,0,1,0,11204

In [36]:
crime_data.to_csv('new_data/zip_crime_data.csv', sep=',', index=False)

In [39]:
pd.isnull(crime_data)

AttributeError: 'numpy.ndarray' object has no attribute 'isnull'